{% extends "patials\base.html" %}
{% load static %}

{% block title %}
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css\pricing.css' %}">
{% endblock extra_css %}

{% block body %}
    <h1>Our Services and Prices</h1>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Service</th>
            <th>Price</th>
        </tr>
        {% for service, price in services.items %}
        <tr>
            <td>{{ service }}</td>
            <td>{{ price }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}

