{% extends "partials\base.html" %}  
{% load static %}
   
{% block title %}
   Shopping Cart
{% endblock title %} 


{% block header %}

{% endblock header %}

{% block body %}
   <h2> Hello {{ customer | upper }}</h2>

    <!-- 2. Cart Items -->
    <h3>Your Cart</h3>
    <table border="1" cellpadding="5">
        <thead>
            
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor%}
            <!-- TODO: Loop through cart_items -->
        </tbody>
    </table>

    <!-- 3. Conditional -->
        {% if has_discount %}
    <p>You have a discount available!</p>
        {% endif %}
    <!-- 4. Store Info -->
    <p>Shopping at {{ store.name }}, {{ store.city }}.
         
    </p>
        
    <!-- 5. Filters -->
    <p>Today is: {{ today|date:"l, j F Y" }}.</p>
    <p>Total different items in cart: {{ cart_items | length }}</p>
    <img src="{% static 'img/road_image.jpeg' %}" alt="">
{% endblock body %}


{% block footer %}


{% endblock footer %}